@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');
.ant-btn-primary {
    color: #fff;
    border-color: #2b2b2b !important;
    background: #000 !important;
}
.ant-layout-sider-trigger{
    color: #fff !important;
    background: black !important;
    max-width: 250px !important;
    min-width: 250px !important;
}
.ant-layout-sider{
    max-width: 250px !important;
    min-width: 250px !important;
    flex: 0 0 200px;
    width: 250px !important;

}
.ant-layout-sider-dark{
    background: rgb(55, 52, 53) !important;
}
button{
    border: 0;
    outline: 0;
}